	{
		"parser": "babel-eslint",
		"extends": [
			"plugin:react/recommended",
			"@debitoor/eslint-config-debitoor",
			"plugin:prettier/recommended"
		],
		"plugins": [
			"import",
			"jest",
			"jsx-a11y",
			"no-only-tests",
			"react-native",
			"react"
		],
		"env": {
			"browser": true,
			"jest": true
		},
		"rules": {
			"prettier/prettier": [
				"error", {"printWidth": 120}
			]
		}
	}